$background-color: #E0E8FF;
$card-background-color: #FFF;
$shadow-color: rgba(56, 42, 225, 0.1);
$shadow-color-2: rgba(105, 141, 255, .4);
$accent-color: #382AE1;
$highlight-color: #766CF1;
$text-color: #717FA6;
$font-stack: "Red Hat Display", sans-serif;
